@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  height: 100%;
}

body {
  /* width: 1440px; */
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
}

.button-light {
  position: relative;
  z-index: 1;

  min-width: 220px;
  padding: 6px 35px;

  letter-spacing: 3.6px;

  background-color: transparent;
  cursor: pointer;
}

.button-light::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #ffe17f;
  transform: translateY(-50%);

  transition: height 0.3s ease-in-out;
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Шапка */

.page-header {
  padding-top: 20px;
}

.page-header-container {
  padding: 0 60px;

  background-color: #ffe17f;
  background-image: linear-gradient(180deg, #ffffff 20px, #ffe17f 20px);
}

.logo-header {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;

  border: 2px solid transparent;
}

.page-header-user {
  display: grid;
  align-items: center;
  margin-bottom: 30px;

  gap: 26px;
  grid-template-columns: 517px 1fr;
}

.search {
  display: grid;
  align-items: start;

  grid-template-columns: 1fr auto;
}

.label-form-search {
  /* position: relative; */
  width: 100%;
}

.search-header {
  /*grid-column: 1 / 1;
  display: block; */
  width: 100%;
  height: 100%;
  padding: 8px 15px 9px 46px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;

  background-color: #ffe17f;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px 16px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.search-button {
  width: 160px;
  padding: 10px 56px;

  text-transform: none;
  letter-spacing: normal;

  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}

.menu-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 20px;
}

.menu-user-item:first-child {
  margin-right: auto;
}

.menu-user-link {
  padding-left: 27px;

  font-size: 18px;
  color: #000000;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center left;
}

.menu-user-link-login {
  background-image: url(../images/icons/login.svg);
}

.menu-user-link-logout {
  padding: 0 8px;

  opacity: 0.3;
}

.menu-user-link-compare {
  padding-left: 20px;

  background-image: url(../images/icons/compare.svg);
}

.menu-user-link-basket {
  position: relative;

  padding-left: 43px;

  background-image: url(../images/icons/basket.svg);
  background-position: center left 15px;
}

.menu-user-link-num {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;

  font-size: 14px;
  line-height: 17px;
  color: #000000;

  background-color: #ffffff;
  border-radius: 50%;
}

.navigation-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  gap: 44px;
}

.navigation-item-catalog {
  margin-right: auto;
}

.navigation-link {
  position: relative;

  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid transparent;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: 7px;
}

.navigation-link-catalog::after {
  content: "";

  display: block;
  width: 50px;
  height: 50px;

  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.navigation-catalog-container {
  position: absolute;
  top: 100%;
  right: -60px;
  left: -60px;
  z-index: 10;

  display: none;
  padding: 8px 60px 52px;

  background-color: #ffe17f;

  gap: 30px;
  grid-template-columns: 222px repeat(auto-fill, minmax(135px, auto));
}

.navigation-item-catalog:hover .navigation-catalog-container,
.navigation-item-catalog:focus-within .navigation-catalog-container {
  display: grid;
}

.grop-down-catalog-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  text-decoration: none;
}

.grop-down-catalog-link-current {
  text-decoration: 2px;

  outline: none;

  pointer-events: none;

  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 6px;
}

/* Главная страница */

.main {
  flex-grow: 1;
}

.slider {
  margin-top: -19px;
}

.slider-container {
  width: 1160px;
}

.slider-list {
  margin-bottom: 6px;

  counter-reset: slide;
}

.slider-item {
  position: relative;

  display: none;

  background-color: #ffe17f;
  background-image: linear-gradient(180deg, #ffe17f 133px, #ffffff 133px);

  counter-increment: slider;

  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.slider-item::after {
  content: "0" counter(slider);
  position: absolute;
  top: 65px;
  right: 50px;

  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-item-active {
  display: grid;
}

.product-image {
  margin: 0;
}

.slider-info {
  position: relative;
  z-index: 1;

  padding: 105px 0 20px;
}

.slider-title {
  width: 545px;
  margin-bottom: 29px;
}

.slider-description {
  margin-bottom: 50px;

  color: #444444;
}

.button-more {
  margin-bottom: 60px;

  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider-params {
  display: flex;
  margin-top: 50px;
  margin-bottom: 26px;
}

.slider-params-item {
  margin-right: 20px;
}

.slider-key {
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.slider-value {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #444444;
}

.slider-arrows-container {
  position: absolute;
  top: 41%;
  left: 30px;

  display: flex;
  justify-content: space-between;
  width: 530px;

  transform: translateY(-50%);
}

.slider-arrow {
  display: inline-block;
  width: 20px;
  height: 61px;

  background-color: transparent;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.slider-arrow-next {
  transform: rotate(180deg);
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}

.slider-pagination-button {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-active {
  background-color: #000000;
}

.products {
  padding-top: 70px;
  padding-bottom: 70px;
}

.products-container {
  width: 1160px;
}

.product-list-main {
  display: grid;

  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
}

.product-link {
  position: relative;

  display: block;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.36px;
}

.product-link::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;

  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.product-link-vr::before {
  background-image: url(../images/products/images-vr.svg);
  background-size: auto;
}

.product-link-monopods::before {
  background-image: url(../images/products/images-monopods.svg);
  background-size: auto;
}

.product-link-action-cameras::before {
  background-image: url(../images/products/images-cameras.svg);
  background-size: auto;
}

.product-link-fitness-bracelet::before {
  background-image: url(../images/products/images-bracelet.svg);
  background-size: auto;
}

.product-link-watch::before {
  background-image: url(../images/products/images-watch.svg);
  background-size: auto;
}

.product-link-quadrocopter::before {
  background-image: url(../images/products/images-quadrocopter.svg);
  background-size: auto;
}

.services {
  padding-bottom: 72px;

  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, #f0f0f0 71%, #ffffff 71%);
}

.services-container {
  display: grid;
  width: 1160px;

  grid-template-columns: 287px 1fr;
}

.services-tabs {
  display: grid;
  align-content: center;

  border-right: 7px solid #000000;

  gap: 36px;
  grid-template-columns: 1fr;
}

.services-tab-item:not(:last-child) {
  margin-bottom: 35px;
}

.service-tab-item-active {
  background-color: #000000;

  pointer-events: none;
}

.services-tab-link-active {
  color: #ffe17f;
}

.button-service {
  width: 280px;
  height: 40px;
  padding: 9px 120px 11px 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  border: none;
}

.service-item {
  display: none;
  padding: 74px 260px 50px 116px;

  background-repeat: no-repeat;
  background-position: center right 63px;
}

.service-item-delivery {
  background-image: url(../images/delivery.svg);
}

.service-item-active {
  display: block;
}

.service-title {
  margin-bottom: 34px;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.services-text {
  margin: 0;

  color: #444444;
}

.service-item-guarantee {
  background-image: url(../images/guarantee.svg);
}

.service-item-credit {
  background-image: url(../images/credit.svg);
}

.product-delivery {
  width: 1160px;
  padding: 74px 0 70px;
}

.product-delivery-link {
  position: relative;

  display: block;
  padding: 40px 125px 37px;

  font-weight: 800;
  font-size: 20px;
  line-height: 23.48px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;

  background-color: #f0f0f0;
  border: none;
}

.product-delivery-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 125px;
  height: 100%;

  background-color: #ffe17f;
  background-image: url(../images/car.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 47px 32px;
}

.information-store-container {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 20px;

  gap: 20px 96px;
  grid-template-columns: repeat(2, 1fr);
}

.about-us {
  position: relative;

  display: grid;
  align-content: start;
  padding: 48px 0;

  gap: 30px;
  grid-template-columns: 1fr;
  justify-items: start;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;

  background-color: #000000;
}

.about-title {
  position: relative;

  margin-bottom: 17px;
}

.about-text {
  color: #444444;
}

.about-item {
  position: relative;

  padding-left: 37px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  letter-spacing: -0.36px;
}

.about-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #ffc700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.about-button {
  margin-top: -4px;
  padding: 8px 22px;
}

.contacts-information {
  position: relative;

  display: grid;
  align-content: start;
  padding: 48px 0;

  gap: 30px;
  grid-template-columns: 1fr;
  justify-items: start;
}

.contacts-information::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;

  background-color: #000000;
}

.about-title-small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.info-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.about-link {
  font-style: normal;
  color: #000000;
  text-decoration: underline;
}

.mailing {
  padding: 64px 0 56px;

  background-color: #f0f0f0;
}

.mailing-container {
  display: grid;
  align-items: center;

  gap: 144px 52px;
  grid-template-columns: repeat(4, 1fr);
}

.mailing-title {
  padding-left: 7px;

  grid-column: 1 / span 2;
}

.mailing-description {
  margin: 10px 0 0;

  grid-column: span 2 /-1;
}

.mailing-form {
  display: grid;
  max-width: 810px;

  grid-column: 1 / span 3;
  grid-template-columns: 1fr auto;
}

.mailing-input {
  display: block;
  width: 100%;
  padding: 10px 17px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #444444;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.mailing-submit {
  width: 252px;
  padding: 15px;

  letter-spacing: 3.6px;

  border-color: #c4c4c4;
}

.mailing-note {
  margin: 0 0 0 auto;
  padding-left: 33px;

  background-image: url(../images/icons/tick.svg);
  background-repeat: no-repeat;
  background-position: center left;
}

/* Каталог  */

.inner-header {
  padding: 35px 0 34px;
}

.inner-container {
  padding: 0 60px;
}

.main-page-title {
  margin: 0;
  padding-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";

  display: block;
  width: 4px;
  height: 7px;
  margin: 0 16px;

  background-image: url(../images/icons/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  text-decoration: none;
}

.catalog {
  background-color: #f0f0f0;
}

.catalog-container {
  display: grid;

  grid-template-columns: auto 1fr;
}

.filter {
  padding: 25px 37px 5px 60px;
}

.catalog-title {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 18.78px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-title-filter {
  margin-bottom: 60px;
}

.filter-group {
  width: 200px;
  margin: 0;
  padding: 12px 0 33px;

  border: none;
  border-top: 2px solid #000000;
}

.filter-title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  letter-spacing: -0.36px;
}

.range-container {
  position: relative;

  padding: 8px 0 35px;
}

.range-base {
  position: relative;
}

.range-base::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;

  height: 2px;

  background-color: #dcdcdc;
}

.range-base::after {
  content: "";
  position: absolute;

  width: 119px;
  height: 2px;

  background-color: #000000;
}

.range-content {
  position: absolute;
  top: -8px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-content-min {
  left: 0;
}

.range-button {
  position: relative;

  width: 18px;
  height: 18px;
  margin-bottom: 5px;
  padding: 0;

  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
}

.range-value {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-content-max {
  right: 54px;
}

.filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.filter-label {
  display: grid;
  align-items: center;
  width: fit-content;

  gap: 16px;
  grid-template-columns: auto 1fr;
}

.filter-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: transparent;
  border: 2px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;

  appearance: none;
}

.filter-input:checked {
  border-color: #000000;
}

.filter-input-check:checked {
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-input-radio {
  border-radius: 50%;
}

.filter-input-radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.filter-submit {
  padding: 11px 46px;

  border: none;
}

.sorting-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px 10px;
}

.sorting-select {
  padding: 5px 40px 5px 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #000000;

  background-color: transparent;
  background-image: url(../images/icons/sorting.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 13px 8px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

.sorting-dir {
  display: grid;
  align-items: center;

  grid-template-columns: repeat(2, auto);
}

.sorting-dir-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.sorting-dir-link::after {
  content: "";

  display: block;
  width: 11px;
  height: 10px;

  background-image: url(../images/icons/arrow-sorting.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sorting-dir-link-asc {
  transform: rotate(180deg);
}

.sorting-result {
  padding: 70px 40px 78px 40px;

  background-color: #ffffff;
}

.product-list {
  display: grid;
  margin-bottom: 44px;

  gap: 46px 40px;
  grid-template-columns: repeat(2, 1fr);
}

.card-link {
  display: block;

  color: #000000;
  text-decoration: none;
}

.card-img {
  position: relative;

  margin-bottom: 32px;
}

.card-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: none;

  background-color: rgba(240, 240, 240, 0.8);
}

.card-img::before {
  content: "new";
  position: absolute;
  top: 27px;
  right: 27px;
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-height: 60px;

  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 2.8px;

  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-card-new .card-img::before {
  display: flex;
}

.card-img-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: none;

  transform: translate(-50%, -50%);
}

.card-link:hover .card-img-btn,
.card-link:hover .card-img::after {
  display: block;
}

.card-descript {
  display: grid;
  align-items: start;

  grid-template-columns: repeat(2, auto);
}

.card-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.card-price {
  margin: 0;

  text-align: right;
}

.product-card-more {
  display: block;
  margin-bottom: 44px;
  padding: 15px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;

  border: 3px solid #e5e5e5;
}

.pagination {
  display: grid;
  align-items: center;

  background-color: #ebebeb;

  gap: 25px;
  grid-template-columns: auto 1fr auto;
}

.pagination-btn {
  display: inline-block;
  padding: 21px 20px 20px;

  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.pagination-btn-disabled {
  color: rgba(68, 68, 68, 0.3);

  background-color: #ebebeb;

  pointer-events: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  display: block;
  min-width: 40px;
  padding: 5px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #444444;
  text-decoration: none;

  opacity: 0.3;
}

.pagination-link-current {
  opacity: 0.6;

  pointer-events: none;
}

.pagination-btn-next {
  color: #000000;
}

/* hover */
/* focus */
/* active */

/* Подвал */

.page-footer {
  padding: 62px 0;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #444444;
}

.page-footer-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.page-footer-container {
  display: grid;
  align-items: center;

  gap: 46px 20px;
  grid-template-columns: 260px 1fr 260px;
}

.logo-footer {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 22px;

  cursor: pointer;
}

.store-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

.footer-navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  gap: 44px;
}

.footer-navigation-item {
  padding: 10px 0;
}

.footer-navigation-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
}

.footer-social {
  display: grid;
  justify-content: center;

  gap: 15px;
  grid-template-columns: repeat(3, auto);
}

.footer-social-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
  border-radius: 50%;
}

.footer-social-link::after {
  content: "";

  display: block;
  width: 16px;
  height: 14px;

  background-color: #444444;

  transition: background-color 0.3s ease-in;

  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.footer-social-link-telegram::after {
  -webkit-mask-image: url(../images/icons/telegram.svg);
          mask-image: url(../images/icons/telegram.svg);
}

.footer-social-link-youtube::after {
  -webkit-mask-image: url(../images/icons/youtube.svg);
          mask-image: url(../images/icons/youtube.svg);
}

.footer-social-link-twitter::after {
  -webkit-mask-image: url(../images/icons/twitter.svg);
          mask-image: url(../images/icons/twitter.svg);
}

.contacts-address-phone {
  margin-left: auto;

  color: #ffffff;
  text-decoration: underline;
}

.academy-link {
  display: block;
  width: 115px;
  height: 34px;
  margin-left: auto;
}

.academy-link::after {
  content: "";

  display: block;
  width: 115px;
  height: 34px;

  background-color: #ffc700;

  transition: background-color 0.3s ease-in;

  -webkit-mask: url(../images/academylogo.svg);
          mask: url(../images/academylogo.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

/* Модальное окно */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(240, 240, 240, 0.9);
}

.modal-close {
  display: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  width: 920px;
  height: 568px;
  padding: 72px 80px;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.01);
  transform: translate(-50%, -50%);
}

.modal-title {
  width: 498px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 64px;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.form-search {
  display: flex;
  flex-direction: column;
  width: 577px;
  height: 348px;

  row-gap: 11px;
}

.modal-close-button {
  position: absolute;
  top: 100px;
  right: 52px;

  width: 26px;
  height: 26px;
  padding: 0;

  background-color: #ffffff;
  background-image: url(../images/icons/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.form {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  border: none;
}

.form-group-name {
  max-width: 360px;

  grid-column: 1 / span 2;
}

.form-label {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  letter-spacing: -0.36px;
}

.form-input {
  padding: 18px 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;

  background-color: #f0f0f0;
  border: none;
}

.form-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.form-group-email {
  max-width: 360px;
  padding-left: 2px;

  grid-column: span 2 / -1;
}

.form-input-email {
  margin-bottom: 2px;

  background-color: #f0f0f0;
  border: 2px solid #ff3d3d;
}

.form-message-error {
  color: #ff3d3d;
}

.form-group-textarea {
  max-width: 540px;

  grid-column: 1 / span 3;
}

.form-group-number {
  max-width: 180px;
  margin: 0 0 auto;
}

.form-tooltip-btn {
  position: relative;
  top: -6px;

  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 0;

  background-color: #ffe17f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.form-tooltip-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 12px;

  background-image: url(../images/icons/information.svg);
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.form-tooltip-text {
  position: absolute;
  top: 30px;
  left: -94px;
  z-index: 1;

  display: none;
  width: 200px;
  margin-top: 15px;
  padding: 20px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.form-controls {
  display: flex;

  outline: none;
}

.form-control {
  position: relative;

  display: block;
  width: 60px;
  min-height: 60px;
  padding: 0;

  background-color: #f0f0f0;
  border: none;
  cursor: pointer;

  appearance: none;
}

.form-control-step-down::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 1px;

  background-color: #000000;
  transform: translate(-50%, -50%);
}

.form-input-counter {
  box-sizing: border-box;
  width: 60px;
  padding: 12px 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.form-control-step-up::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 1px;

  background-color: #000000;
  transform: translate(-50%, -50%) rotate(90deg);
}

.form-control-step-up::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 1px;

  background-color: #000000;
  transform: translate(-50%, -50%);
}
